//
// Font faces, stacks and sizes.
//

// First, let's create some font stacks.
$meta: "ff-meta-serif-web-pro", serif;
$meta: "ff-meta-serif-web-pro", sans-serif;
$prox: "proxima-nova", sans-serif;
$league:  "league-gothic", sans-serif;
$hernandez:	'Hernandez',  serif;

// Colors
$grey-a: 	#626262;
$grey-b: 	#f3f3f3;
$grey-c: 	#343031;
$grey-d: 	#e5e5e5;
$grey-e: 	#cacaca;
$grey-f: 	#6f6f6f;
$grey-g: 	#dbdbdb;
$grey-h: 	#7d7e81;
$nearBlack: #231f20;
$coral:		#ea5239;


// Make sure the charset is set appropriately
@charset "UTF-8";

//
// Partials to be shared with all .scss files.
//



// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";
@import "foundation/components/global";
@import  "foundation/components/grid";
@import "foundation/components/block-grid";
  // "foundation/components/visibility",
  // "foundation/components/type",
  // "foundation/components/buttons",
  // "foundation/components/forms",
  // "foundation/components/custom-forms",
  // "foundation/components/button-groups",
  // "foundation/components/dropdown-buttons",
  // "foundation/components/split-buttons",
  // "foundation/components/flex-video",
  // "foundation/components/section",
  // "foundation/components/top-bar",
  // "foundation/components/orbit",
  // "foundation/components/reveal",
  //  "foundation/components/joyride",
  // "foundation/components/clearing",
  // "foundation/components/alert-boxes",
  // "foundation/components/breadcrumbs",
  // "foundation/components/keystrokes",
  // "foundation/components/labels",
  // "foundation/components/inline-lists",
  // "foundation/components/pagination",
  // "foundation/components/panels",
  // "foundation/components/pricing-tables",
  // "foundation/components/progress-bars",
  // "foundation/components/side-nav",
  // "foundation/components/sub-nav",
  // "foundation/components/switch",
  // "foundation/components/magellan",
  // "foundation/components/tables",
  // "foundation/components/thumbs",
  // "foundation/components/tooltips",
  // "foundation/components/dropdown";

@import "custom";           // Import our custom mixins last.