//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}


// Custom Functions

// Px Target > Em Conversion
@function pxem($target, $context:16px){
	@return ($target/$context) * 1em;
}

// Fixed Media Queries
$fix-mqs: false !default;

@mixin breakpoint($point) {
  @if $fix-mqs {

	  @content;

  } @else {
	@if $point == xxlarge {
      @media (min-width: 1090px) { @content; }
    }
    @else if $point == xlarge {
      @media (min-width: 1000px) { @content; }
    }
    @else if $point == large {
      @media (min-width: 960px) { @content; }
    }
    @else if $point == xxmedium {
      @media (min-width: 900px) { @content; }
    }
    @else if $point == xmedium {
      @media (min-width: 820px) { @content; }
    }
    @else if $point == medium {
      @media (min-width: 768px) { @content; }
    }
    @else if $point == small {
      @media (min-width: 540px)  { @content; }
    }
    @else if $point == xsmall {
      @media (min-width: 400px)  { @content; }
    }
  }
}