// Import fonts and base styles ====================================================================
	@import url("//hello.myfonts.net/count/29abf1");
	@import "base";
	@import "normalize";
	@import "mediaelementplayer.min";



// EXTENSIONS ======================================================================================
	%no-select {
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	%no-drag {
	  -webkit-user-drag: none;
	  -moz-user-drag: none;
	  -ms-user-drag: none;
	  user-drag: none;
	}
	%no-tap {
	  -webkit-tap-highlight-color: rgba(0,0,0,0);
	  tap-highlight-color: rgba(0,0,0,0);
	  -webkit-touch-callout: none;
	  touch-callout: none;
	}
	%no-appearance {
	  -moz-appearance: none;
	  -webkit-appearance: none;
	  appearance: none;
	}
	%psuedo {
	  display: block;
	  content: "";
	}



// FUNCTIONS =======================================================================================
	@function tint($color, $percent){
		@return mix(white, $color, $percent);
	}
	@function shade($color, $percent){
		@return mix(black, $color, $percent);
	}



// Special fonts ===================================================================================
	@font-face {
		font-family: 'icn';
		src: url('fonts/icn.eot');
		src: url('fonts/icn.eot?#iefix')
			format('embedded-opentype'), url('fonts/icn.woff')
			format('woff'), url('fonts/icn.ttf')
			format('truetype'), url('fonts/icn.svg#icn')
			format('svg');
		font-weight: normal !important;
		font-style: normal !important;
	}
	@font-face {
		font-family: 'arw';
		src: url('fonts/arw.eot');
		src: url('fonts/arw.eot?#iefix')
			format('embedded-opentype'), url('fonts/arw.woff')
			format('woff'), url('fonts/arw.ttf')
			format('truetype'), url('fonts/arw.svg#icn')
			format('svg');
		font-weight: normal !important;
		font-style: normal !important;
	}
	@font-face {
		font-family: 'Hernandez';
		src: url('fonts/hernandezniu-bold-webfont.eot');
		src: url('fonts/hernandezniu-bold-webfont.eot?#iefix')
			format('embedded-opentype'), url('fonts/hernandezniu-bold-webfont.woff')
			format('woff'), url('fonts/hernandezniu-bold-webfont.ttf')
			format('truetype');
		font-style: normal;
		font-weight: normal;
	}



// Base styles =====================================================================================
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
	}
	html, body, a, button, input, select, textarea { color: #000; }
	body { font: 1em/1.25 $meta; }
	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0;
	}
	img { vertical-align: middle; }
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
	textarea { resize: vertical; }
	a { text-decoration: none; }
	object, embed { height: 100%; }
	img { -ms-interpolation-mode: bicubic; }

	::-moz-selection {
		background: #4b5a64;
		color: #fff;
		text-shadow: none;
	}
	::selection {
		background: #4b5a64;
		color: #fff;
		text-shadow: none;
	}



// Assorted Utility Classes ========================================================================
	.full {
		margin: 0 auto;
		text-align: center;
		clear: both;

		img { width: 100%; }

		&.lrg {
			@extend .lrg-only;
		}
		&.spc-btm {
			margin-bottom: pxem(20px);
		}
	}
	.lrg-only {
		position: absolute;
		top: -9999px;
		left: -9999px;

		@include breakpoint(medium) {
			position: relative;
			top: 0;
			left: 0;
		}
	}
	.lrg-only-820 {
		position: absolute;
		top: -9999px;
		left: -9999px;

		@include breakpoint(xmedium) {
			position: relative;
			top: 0;
			left: 0;
		}
	}
	.sm-only {
		position: relative;
		top: 0;
		left: 0;

		@include breakpoint(medium) {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	.outer { @include outer-wrap(); }
	.row-outer { @include grid-row-outer(); }
	.row {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		max-width: 75em;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		content: " ";
		display: table;
	}
	.row .row {
		width: auto;
		margin-left: -0.625em;
		margin-right: -0.625em;
		margin-top: 0;
		margin-bottom: 0;
		max-width: none;
		*zoom: 1;
	}
	.row .row:before,
	.row .row:after {
		content: " ";
		display: table;
	}
	.row:after,
	.row .row:after {
		clear: both;
	}



// Typography: Headline Styles =====================================================================
	.head-featured {
		font-family: $prox;
		font-size: pxem(21px);
		font-weight: 700;
		margin: 0;
		transition: .1s cubic-bezier(.25, .54, .86, .98);

		.arw {
			font-size: pxem(17px, 21px);
		}

		@include breakpoint(medium) {
			font-size: pxem(26px);
			.arw {
				display: none;
			}
		}

		@include breakpoint(xmedium) { font-size: pxem(28px); }
		@include breakpoint(large) { font-size: pxem(35px); }
	}
	.head-block {
		font-family: $league;
		font-size: pxem(22px);
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 0;
		transition: .1s linear;
		&.full {
			background: tint($grey-h, 20%);
			color: #fff;
			text-align: center;
			padding: pxem(21px, 22px) 0;

			&.invert {
				background: #000;
				color: #fff;
			}
		}
		&.b {
			font-size: pxem(32px);
			margin-bottom: pxem(11px, 32px);
		}
		&.d,
		&.e {
			font-size: pxem(32px);
			line-height: 1.2;
			margin-bottom: .45em;
			letter-spacing: 1px;
		}
		@include breakpoint(medium) {
			font-size: pxem(24px);
			letter-spacing: 2px;
			&.full {
				padding: pxem(12px, 24px) 0;
				&.invert {
					background: tint($grey-h, 20%);
					color: #fff;
				}
			}
			&.a { font-size: pxem(29.62px); }
			&.b {
				font-size: pxem(35px);
				margin-bottom: pxem(27px, 35px);
			}
			&.c { font-size: pxem(45.05px); }
			&.d { font-size: pxem(49.23px); }
			&.e { font-size: pxem(60px); }
			&.pad {
				padding-left: pxem(10px, 24px);
				padding-right: pxem(10px, 24px);
			}
		}
	}
	.head-geo {
		font-family: $prox;
		font-size: pxem(21px);
		font-weight: 700;
		text-transform: uppercase;
		&.lwr {
			text-transform: none;
		}
		@include breakpoint(medium) {
			font-size: pxem(30px);
		}
	}
	.head-srf {
		font-size: pxem(34px);
		font-weight: normal;
		letter-spacing: 1px;
		font-family: $hernandez;
		&.a, &.b {
			font-size: pxem(24px);
		}
		@include breakpoint(small) {
			&.a, &.b {
				font-size: pxem(28px);
			}
		}
		@include breakpoint(medium) {
			font-size: pxem(67.72px);
			&.a, &.c {
				font-size: pxem(30px);
			}
			&.b {
				font-size: pxem(40px);
			}
		}
	}
	.head-srf-alt {
		font-family: $meta;
		font-size: pxem(15px);
		font-weight: normal;
		text-transform: uppercase;
		&.lwr {
			text-transform: none;
		}
		@include breakpoint(small) {
			font-size: pxem(16px);
		}
		@include breakpoint(medium) {
			font-size: pxem(30px);
		}
	}
	.krn-8-l {
		font-style: normal;
		margin-left: -8px;
	}
	.krn-6-l {
		font-style: normal;
		margin-left: -6px;
	}
	.cntr-lrg {
		padding: 0 20px;
		@include breakpoint(small) {
			text-align: center;
			padding: 0;
		}
	}
	.cntr {
		text-align: center;
		padding: 0;
	}
	.head-item {
		font-family: $prox;
		font-size: pxem(16.25px);
		font-weight: 700;
		.arw {
			font-weight: normal;
			font-size: pxem(11px, 16.25px);
		}
		@include breakpoint(small) {
			font-size: pxem(14px);
			.arw {
				font-weight: normal;
				font-size: pxem(10px, 14px);
			}
		}
		@include breakpoint(large) {
			font-size: pxem(15px);
			.arw {
				font-weight: normal;
				font-size: pxem(10px, 15px);
			}
		}
	}
	.sub-item {
		font-size: pxem(13.5px);
		font-family: $meta;
		font-style: italic;
		color: $grey-a;
		display: block;
		line-height: 1.4;
		@include breakpoint(small) {
			font-size: pxem(12.5px);
		}
		@include breakpoint(large) {
			font-size: pxem(14px);
		}
	}
	.head-team {
		font-family: $hernandez;
		font-size: pxem(45px);
		font-weight: 400;
		display: inline-block;
		text-align: left;
		line-height: 1.05;
		position: relative;
		i {
			font-style: normal;
			display: block;
			font-size: pxem(93px, 45px);
			margin-bottom: 0;
		}
		&:after {
			content: 'b';
			display: block;
			font-family: 'icn';
			position: absolute;
			font-size: pxem(115px, 45px);
			transform: rotate(-5deg) skew(-10deg, 0);
			top: 0px;
			right: -85px;
		}
	}
	.head-bio {
		font-size: pxem(33px);
		font-family: $hernandez;
		font-weight: 400;
		border-top: 3px solid rgba(0, 0, 0, .9);
		border-bottom: 3px solid rgba(0, 0, 0, .9);
		padding: pxem(12px, 33px) 0;
		line-height: 1.1;
		margin-bottom: pxem(12px, 33px);
		.title {
			font-size: pxem(12px, 33px);
			font-family: $prox;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}
		i {
			font-style: normal;
		}
		@include breakpoint(medium) {
			font-size: pxem(35px);
			padding: pxem(14px, 35px) 0;
			margin-bottom: pxem(12px, 35px);
			.title {
				font-size: pxem(13.42px, 35px);
			}
		}
		@include breakpoint(xlarge) {
			font-size: pxem(45px);
			padding: pxem(18px, 45px) 0;
			border-top: 4px solid rgba(0, 0, 0, .9);
			border-bottom: 4px solid rgba(0, 0, 0, .9);
			margin-bottom: pxem(12px, 45px);
			.title {
				font-size: pxem(13.42px, 45px);
			}
		}
		@include breakpoint(xxlarge) {
			font-size: pxem(55px);
			padding: pxem(24px, 55px) 0;
			margin-bottom: pxem(12px, 55px);
			.title {
				font-size: pxem(13.42px, 55px);
			}
		}
	}
	.head-thin {
		font-family: $prox;
		font-size: pxem(18px);
		font-weight: normal;
		@include breakpoint(medium) {
			font-size: pxem(26px);
		}
	}
	.head-visit {
		margin-bottom: 0;
		color: $grey-f;
		font-weight: normal;
		font-size: 1em;
		line-height: 1.4;
	}
	.caption-full {
		font-size: pxem(16px);
		padding: pxem(20px, 16px) pxem(20px, 16px) pxem(46px, 16px);

		@include breakpoint(medium) {
			font-size: pxem(18px);
			padding: pxem(20px, 18px) pxem(20px, 18px) pxem(46px, 18px);
		}
	}



// Typography: Colors ==============================================================================
	.cCoral { color: $coral; }



// Typography: Buttons =============================================================================
	.button-block {
		font-family: $meta;
		font-style: italic;
		font-size: pxem(14.875px);
		color: #fff;
		background: #000;
		border: 1px solid #000;
		text-align: center;
		display: inline-block;
		padding: pxem(9px, 14.875px) pxem(16px, 14.875px);
		font-weight: 500;
		overflow: hidden;
		border-radius: 4px;
		transition: .125s linear;
		.arw {
			font-size: pxem(12px, 14.875px);
			position: relative;
			left: 0;
			transition: left .15s linear;
		}
		&:hover {
			background: #fff;
			color: #000;
			border: 1px solid tint($grey-a, 50%);

			&.view-project {
				background: transparent !important;
				border: none !important;
			}
		}
		&.invert,
		&.lt {
			background: #fff;
			color: #000;
			border: none;
			&:hover {
				background: #000;
				color: #fff;
			}
		}
		&.hollow {
			background: transparent;
			color: #000;
			&:hover {
				background: #000;
				color: #fff;
			}
		}
		&.blend {
			background: transparent;
			color: currentColor;
			border: 1px solid currentColor;
			&:hover {
				background: rgba(255, 255, 255, .2);
			}
		}
		@include breakpoint(medium) {
			font-size: pxem(14px);
			.arw {
				font-size: pxem(11px, 14px);
			}
			&.invert {
				background: #000;
				color: #fff;
				&:hover {
					background: #fff;
					color: #000;
				}
			}
		}
	}
	.button-view-site {
		font-size: pxem(34px);
		font-family: $league;
		text-transform: uppercase;
		letter-spacing: 1px;
		display: block;
		&:after {
			content: 'l';
			display: inline-block;
			font-family: 'icn';
			font-size: pxem(20px, 34px);
			text-transform: none;
			margin-left: pxem(10px, 20px);
		}
	}
	.button-more {
		@extend .button-block;
		@include breakpoint(medium) {
			font-size: pxem(16px);
			color: #000;
			background: transparent;
			text-align: center;
			display: inline-block;
			padding: 0;
			.arw {
				font-size: pxem(11.73px, 16px);
			}
		}
	}



// Typography: Other Type Styles ===================================================================
	.caption {
		font-family: $prox;
		font-size: pxem(14px);
		font-weight: 700;

		@include breakpoint(medium) {
			font-family: $prox;
			font-size: pxem(14px);
			font-weight: 700;
		}
	}
	.icn {
		font-family: 'icn' !important;
		text-transform: lowercase !important;
	}
	.arw {
		font-family: 'icn' !important;
		text-transform: lowercase !important;
		font-style: normal !important;
		font-size: .6em;
		font-weight: normal !important;
		white-space: nowrap !important;
		&:after {
			content: '\0072';
		}
		&.lft {
			&:after {
				content: none;
			}
			&:before {
				content: '\006f';
			}
		}
		&.dwn {
			position: relative;
			top: -2px;
			&:after {
				content: '\0064';
			}
		}
	}
	.hrt {
		font-family: 'icn' !important;
		text-transform: lowercase !important;
		font-style: normal !important;
		font-size: .6em;
		font-weight: normal !important;
		color: $coral;
	}
	.cpy-sm {
		font-size: pxem(10.9375px);
		@include breakpoint(medium) {
			font-size: pxem(14px);
		}
	}
	.cpy-med {
		font-size: pxem(12.5px);
		@include breakpoint(medium) {
			font-size: pxem(16px);
		}
	}
	.cpy-lrg {
		font-size: pxem(20px);
		line-height: 1.4;
		@include breakpoint(medium) {
			font-size: pxem(15px);
		}
		@include breakpoint(xxmedium) {
			font-size: pxem(17px);
		}
	}
	.lined {
		text-align: center;
		overflow: hidden;
		margin-bottom: 36px;
		.txt {
			font-style: normal;
			display: block;
			position: relative;
			padding-bottom: 24px;
			&:before, &:after {
				content: "";
				position: absolute;
			}
			&:after {
				border-bottom: 1px solid $grey-e;
				border-top: 1px solid $grey-e;
				bottom: 0;
				height: 5px;
				left: 20px;
				right: 20px;
			}
			&.single {
				&:before, &:after {
					border-bottom: none;
				}
				&:after {
					left: 0;
					right: 0;
				}
			}
		}
		&.shallow {
			margin-bottom: 16px;
			.txt {
				padding-bottom: 13px;
			}
		}
		@include breakpoint(medium) {
			line-height: 1.3;
			.txt {
				display: inline-block;
				&:before, &:after {
					content: "";
					position: absolute;
					height: 7px;
					border-bottom: 1px solid $grey-e;
					border-top: 1px solid $grey-e;
					top: 40%;
					width: 600px;
				}
				&:before {
					right: 100%;
					margin-right: 25px;
				}
				&:after {
					left: 100%;
					margin-left: 25px;
				}
				&.single {
					&:before, &:after {
						border-bottom: none;
						top: 25%;
					}
					&:after {
						left: 100%;
						right: auto;
					}
				}
			}
		}
	}
	.list-geo {
		list-style: none;
		color: #fff;
		font-family: $prox;
		font-weight: 600;
		margin: 0;
		padding: pxem(18px) 0;

		li {
			font-size: pxem(15px);
			margin-bottom: pxem(8px, 15px);
		}
	}



// Page Structure: Header / Navigation =============================================================
	.logo {
		font-size: 1em;
		font-weight: normal;
		width: pxem(54px);
		height: pxem(80px);
		padding: 0;
		margin: 0 0 0 pxem(20px);

		a {
			display: block;
			font-size: pxem(56px);
			background-size: pxem(135px, 56px) pxem(19px, 56px);
			background-position: right pxem(24px, 56px);
			position: relative;
			left: -1px;

			.mark {
				display: inline-block;
				background-image: url('img/logomark.gif');
				background-size: 42px 42px;
				width: 42px;
				height: 42px;
				margin-top: 14px;
				margin-left: 2px;
			}
		}
		@include breakpoint(medium) {
			width: pxem(54px);
			float: left;
			margin: 0;
			a {
				left: 0;
				.mark {
					background-size: 52px 52px;
					width: 52px;
					height: 52px;
					margin-top: 8px;
				}
			}
		}
	}

	.pageHeader {
		padding: pxem(18px) 0 0;
		position: relative;

		.menu {
			font-size: pxem(23.5px);
			display: block;
			width: pxem(83px, 23.5px);
			height: pxem(98px, 23.5px);
			position: absolute;
			top: 0;
			right: 0;
			padding: pxem(38px, 23.5px) 0 0 pxem(3px, 23.5px);
			text-align: center;
			transition: .1s linear;

			&.open { background: $grey-b; }

			@include breakpoint(medium) {
				display: none;
			}
		}
		@include breakpoint(medium) {
			@include grid-row();
			padding: pxem(18px) pxem(40px);
		}
	}
	.nav-holder {
		@include breakpoint(medium) {
			width: pxem(434px);
			margin-right: pxem(18px);
			float: right;
		}
	}
	#nav {
		max-height: 0;
		overflow: hidden;
		transform: translate3d(0, 0, 0);
		transition: max-height .1s cubic-bezier(.41, .15, .94, 1.12);

		&.show { max-height: pxem(250px); }

		@include breakpoint(medium) {
			max-height: pxem(250px);
		}
	}
	.main-navigation {
		background: $nearBlack;
		font-family: $prox;
		text-transform: uppercase;
		font-size: pxem(15px);
		margin: 0;
		padding: 0 pxem(20px);
		a {
			color: #fff;
			text-align: center;
			border-bottom: 1px solid $grey-c;
			display: block;
			padding: pxem(20px) 0;
			font-weight: 700;
			letter-spacing: 1px;
			transition: .125s linear;
		}
		@include breakpoint(medium) {
			background: transparent;
			font-size: pxem(14px);
			padding: pxem(28px, 14px) 0 0 0;
			float: right;
			li {
				float: left;
				padding: 0 0 0 pxem(51px, 14px);
			}
			a {
				color: $nearBlack;
				border-bottom: none;
				padding: 0;
				&:hover {
					color: $coral;
				}
			}
		}
	}



// Page Structure: Footer ==========================================================================
	.pageFooter {
		.main-navigation {
			background: $grey-d;
			margin-bottom: pxem(50px);
			a {
				color: #000;
				border-bottom-color: $grey-e;
			}
			@include breakpoint(medium) {
				display: none;
			}
		}
		.contact-area {
			text-align: center;
			margin-bottom: pxem(46px);
			.cpy-lrg {
				color: $grey-f;
			}
			.email,
			.tel {
				border-bottom: 1px dotted #000;
			}
			.tel {
				margin-bottom: pxem(5px, 17px);
				display: inline-block;
			}

			.button-block { margin-top: pxem(18px, 14.875px); }
			&.start-project { margin-bottom: 0; }

			@include breakpoint(medium) {
				text-align: left;
				.tel {
					border-bottom: none;
					display: inline;
				}
				.button-block { margin-top: pxem(10px, 14.875px); }
				.cpy-lrg { padding-top: pxem(6px, 15px); }
			}
			@include breakpoint(xxmedium) {
				.button-block { margin-top: pxem(18px, 14.875px); }
				.cpy-lrg { padding-top: pxem(6px, 17px); }
			}
		}
		@include breakpoint(medium) {
			@include grid-row();
			border-top: 1px solid $grey-g;
			padding: pxem(31px) pxem(43px) pxem(50px);

			.start-project {
				width: 27%;
				float: left;
				margin-right: 3%;
				padding-right: pxem(27px);
			}
			.social {
				width: 20%;
				float: left;
				margin-right: 2%;
			}
			.phone-email {
				width: 23%;
				float: left;
				margin-right: 2%;
			}
			.visit {
				width: 23%;
				float: left;
			}
		}
	}
	.button-start-project {
		display: block;
		color: #fff;
		padding: pxem(30px) 0;
		transition: .125s linear;
		.head-block {
			color: #000;
		}
		&:hover {
			.button-block {
				background: #fff;
				color: #000;

				.arw { left: 0; }
			}
		}
		@include breakpoint(medium) {
			text-align: center;
			background: #000;
			margin-top: pxem(6px);
			border: 1px solid #000;
			padding: pxem(20px) pxem(10px);

			.head-block, .button-block {
				color: #fff;
				margin: 0 !important;
				padding: 0;
			}
			.head-block {
				font-size: pxem(20px);
			}
			.button-block {
				font-size: pxem(15px);
				border: none;

				.arw { font-size: pxem(13px, 15px); }
			}
			&:hover {
				background: #fff;
				color: #000;
				border: 1px solid tint($grey-a, 50%);
				.head-block {
					color: #000;
				}
				.button-block {
					background: #fff;
					color: #000;
				}
			}
		}
		@include breakpoint(xxmedium) {
			padding: pxem(30px) pxem(20px);
			.head-block {
				font-size: pxem(24px);
			}
			.button-block {
				font-size: pxem(18px);

				.arw { font-size: pxem(15px, 18px); }
			}
		}
	}
	.social-links {
		list-style: none;
		padding: pxem(13px) 0 0 0;
		margin: 0 auto;
		width: pxem(170px);

		li {
			float: left;
			width: pxem(78px);
			margin-right: pxem(14px);
			&:last-child {
				margin-right: 0;
			}
		}

		a {
			display: block;
			text-align: center;
			font-size: pxem(22px);
			height: pxem(78px, 22px);
			padding: pxem(25px, 22px);
			border: 1px solid #a1a1a1;
			transition: .1s linear;

			&:hover {
				color: #fff;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
			}

			&.facebook {
				background: #fff;
				background: linear-gradient(45deg, #3b5998 0%, #3b5998 50%, #ffffff 50.5%, #ffffff 100%);
				background-position: -156px 0;
				background-repeat: no-repeat;
				background-size: 234px 78px;

				&:hover { background-position: 0 0; }
			}

			&.twitter {
				background: #fff;
				background: linear-gradient(45deg, #4099FF 0%, #4099FF 50%, #ffffff 50.5%, #ffffff 100%);
				background-position: -156px 0;
				background-repeat: no-repeat;
				background-size: 234px 78px;

				&:hover { background-position: 0 0; }
			}
		}
		@include breakpoint(medium) {
			margin: pxem(10px) 0 0 0;
			padding-top: 0;
			li {
				width: pxem(38px);
				margin-right: pxem(6px);
			}
			a {
				font-size: pxem(14px);
				height: pxem(38px, 14px);
				padding: pxem(10px, 14px);

				&.facebook {
					background-position: -108px 0;
					background-size: 162px 54px;
				}

				&.twitter {
					background-position: -108px 0;
					background-size: 162px 54px;
				}
			}
		}
		@include breakpoint(xxmedium) {
			li {
				width: pxem(56px);
				margin-right: pxem(12px);
			}
			a {
				font-size: pxem(16px);
				height: pxem(56px, 16px);
				padding: pxem(17px, 16px);
			}
		}
	}
	.page-template-page-what-we-do-php .pageFooter {
		border-top: none;
	}



// Page Modules: Featured Projects =================================================================
	.featured-projects {
		list-style: none;
		margin: 0 auto;
		padding: pxem(20px);

		li {
			max-width: pxem(640px);
			margin: 0 auto;
			margin-bottom: pxem(20px);
		}
		@include breakpoint(xsmall) {
			@include block-grid(2);
			padding: pxem(20px) pxem(20px) pxem(20px) pxem(30px);

			li {
				padding: 0;

				img {
					border-right: 10px solid #fff;
				}

				.inner {
					background: #fff;
				}
			}
		}
		@include breakpoint(medium) {
			padding: 0;
			margin: 0;
			@include outer-wrap();

			> li {
				max-width: none;
				margin: 0;
				float: none;
				display: block;
				width: 100%;

				img {
					border: none;
				}

				.inner {
					background: transparent;
					display: flex;
					align-items: center;

				}
			}
		}
	}
	.featured-project {
		text-align: center;

		img { width: 100%; }
		.inner {
			background-color: tint(#e5e5e5, 30%);
		}
		.head-featured {
			font-size: pxem(16.25px);
			margin-bottom: 0;
			padding: 0 pxem(5px, 16.25px);
		}
		.client {
			font-size: pxem(13.5px);
			padding: 0 pxem(5px, 13.5px);
			font-style: italic;
			color: $grey-a;
			margin-bottom: pxem(15px, 13.5px);
		}
		.desc {
			@extend .lrg-only-820;
		}
		.detail {
			padding-top: pxem(11px);
			transition: .2s linear;
		}
		@include breakpoint(medium) {
			text-align: left;
			position: relative;
			display: block;
			overflow: hidden;
			transition: opacity .1s cubic-bezier(.25, .54, .86, .98);
			@include grid-row-outer();
			img {
				position: relative;
				z-index: 50;
				transition: .12s cubic-bezier(.25, .54, .86, .98);
			}
			.inner {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 60;
				padding-left: pxem(30px);
				padding-right: pxem(30px);
				background: transparent;
			}
			.detail {
				width: 50%;
				padding: pxem(70px) pxem(20px) 0;
				&.rt {
					float: right;
				}
				&.drk {
					color: #fff;
					.client {
						color: #fff;
					}
				}
			}
			.head-featured {
				font-size: pxem(26px);
				padding: 0;
			}
			.client {
				font-size: pxem(15px);
				padding: 0;
				margin-bottom: pxem(15px, 15px);
			}
			.desc { font-size: pxem(16px); }
			&:hover {
				opacity: .88;

				img { transform: translate3d(0, 0, 0) scale(1.02); }
			}
		}
		@include breakpoint(xmedium) {
			.detail {
				padding: pxem(25px) pxem(20px) 0;
			}
		}
		@include breakpoint(large) {
			.detail {
				padding: pxem(40px) pxem(20px) 0 pxem(40px);

				&.rt {
					padding-left: pxem(20px);
					padding-right: pxem(40px);
				}
			}
		}
	}



// Page Modules: Featured Clients ==================================================================
	.featured-clients {
		background: image-url('noise-drk.jpg') repeat;
		background-size: 50px 50px;
		color: #fff;
		padding: pxem(18px) 0 pxem(14px);
		a {
			color: #fff;
			transition: .125s linear;
			&:hover {
				border-bottom: none;
				color: $coral;
				.arw {
					border-bottom: none;
					text-decoration: none;
				}
			}
		}
		.button-block {
			margin: pxem(23px, 14.875px) 0;
		}
		.list-4 {
			li {
				border-bottom: 2px solid rgba(136, 136, 136, .3);
			}
		}
		&.vanilla {
			background: transparent;
			padding: 0 pxem(20px) pxem(45px);
			a {
				color: #fff;
				padding: pxem(8px, 16px) 0;
			}
			.list-4 {
				padding-left: 0;
				li {
					text-align: left;
				}
				.arw {
					position: relative;
					top: 0;
					left: 0;
				}
			}
		}
		.head-block {
			padding-bottom: pxem(5px, 22px);
			border-bottom: 1px solid #4d4d4d;
			margin-bottom: pxem(24px, 22px);
		}
		@include breakpoint(medium) {
			@include grid-row();
			padding: 0 pxem(40px) pxem(66px);
			background: transparent;
			color: #000;
			&.vanilla {
				padding: 0 pxem(40px) pxem(66px);
				.list-4 {
					li {
						a {
							color: #fff;
						}
					}
				}
			}
			.list-4 {
				padding-left: 0;
				li {
					border-bottom: 1px solid #4d4d4d;
					a {
						color: #000;
						display: block;
						padding: 0;
						transition: .125s linear;
						&:hover {
							border-bottom: none;
							color: $coral;
							.arw {
								border-bottom: none;
								text-decoration: none;
							}
						}
					}
				}
			}
			.button-block {
				color: #fff;
				margin: pxem(23px, 14.49px) 0;
			}
			.head-block {
				background: transparent;
				padding-bottom: pxem(5px, 24px);
				color: #fff;
				margin-bottom: 0;
				.arw {
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
			}
		}
	}
	.what-we-do-top {
		text-align: center;
		background: #191919;
	}
	.bgDark {
		background: #000;
		color: #fff;
	}
	.bgGrey {
		background: #f6f6f6;
	}



// Page Modules: Capabilities ======================================================================
	.capabilities {
		padding: pxem(16px) 0;
		margin-bottom: pxem(20px);

		.word-1 { display: block; }

		@include breakpoint(small) {
			.head-srf { margin-bottom: pxem(42px, 28px); }
			.word-1 { display: inline; }
		}
		@include breakpoint(medium) {
			@include grid-row();
			.inner {
				padding-left: pxem(30px);
				padding-right: pxem(30px);
				padding-top: pxem(20px);
			}
			.head-srf { margin-bottom: pxem(42px, 30px); }
		}
	}

	.services {
		padding: 0 pxem(20px);
		margin-bottom: pxem(20px);

		.head-block {
			border-bottom: 1px solid #4d4d4d;
			padding-bottom: pxem(5px, 22px);
		}
		@include breakpoint(small) {
			ul {
				@include grid-row();
				padding-left: 0;
				padding-right: 0;
				li {
					@include grid-column(6);
					padding-left: 0;
					padding-right: 1.25em;
				}
			}
		}
		@include breakpoint(xmedium) {
			@include grid-column(4);

			&:nth-of-type(4) { clear: both; }

			ul li {
				float: none;
				width: 100%;
			}
		}
	}



// Page Modules: Process ===========================================================================
	.process {
		padding: pxem(27px) pxem(20px) pxem(30px);
		.head-srf {
			padding: 0;
		}
		.head-block {
			border-bottom: 1px solid #b2b2b2;
			padding-bottom: pxem(5px, 22px);
		}
		@include breakpoint(medium) {
			@include grid-row();
			padding: pxem(27px) pxem(20px) pxem(88px) pxem(40px);
		}
	}
	.process-step {
		margin-bottom: pxem(60px);
		border-bottom: 1px solid #b2b2b2;
		.content {
			font-family: $prox;
			font-size: pxem(14px);
			line-height: 1.45;
			letter-spacing: pxem(.5px, 15px);
			padding-top: pxem(25px, 15px);
			padding-bottom: pxem(10px, 15px);
		}
		img {
			display: block;
			margin: 0 auto pxem(10px) auto;
			width: pxem(196px);
		}
		.head-block {
			text-align: center;
		}
		@include breakpoint(xsmall) {} @include breakpoint(small) {
			border-bottom: none;
			@include grid-column(6);
			padding-left: 0;
			padding-right: 1.25em;
			img {
				margin-bottom: pxem(15px);
				width: auto;
				max-width: 60%;
			}
		}
		@include breakpoint(xxmedium) {
			margin-bottom: 0;
			@include grid-column(3);
			padding-left: 0;
			padding-right: 1.25em;
			img {
				max-width: 78%;
			}
		}
	}



// Page Modules: 3 Col List ========================================================================
	.list-4 {
		font-size: pxem(16px);
		list-style: none;
		margin: 0;
		padding: 0 pxem(20px, 16px);
		li {
			border-bottom: 2px solid $grey-g;
			text-align: center;
			padding: 0;
		}
		a {
			padding: pxem(18px, 16px) 0;
			display: block;
		}
		.arw {
			@extend .lrg-only;
		}
		@include breakpoint(medium) {
			font-size: pxem(16px);
			padding: pxem(20px, 16px) 0;
			@include grid-column(4);
			li {
				text-align: left;
				border-bottom: 1px solid $grey-g;
				padding: pxem(12px, 16px) 0;
			}
			.arw {
				display: inline;
			}
			a {
				display: inline;
				padding: 0;
				&:hover {
					border-bottom: 1px solid #000;
					.arw {
						border-bottom: 1px solid #fff;
					}
				}
			}
		}
	}



// Page Modules: 4 Col List ========================================================================
	.list-3 {
		font-size: pxem(16px);
		list-style: none;
		margin: 0;
		padding: 0 pxem(20px, 16px);
		@include breakpoint(medium) {
			@include grid-column(3);
			padding: pxem(10px, 16px) pxem(10px, 16px) 0 0;
		}
	}



// Page Modules: Client Lists ======================================================================
	.our-clients {
		padding-top: pxem(27px);
		@include breakpoint(medium) {
			padding-top: pxem(56px);
			margin-bottom: pxem(110px);
		}
	}



// Page Modules: Client List Container =============================================================
	.full-client-list {
		padding: 0 pxem(20px) pxem(24px);
		border-bottom: 2px solid rgba(136, 136, 136, .3);
		.head-block {
			margin-bottom: pxem(24px, 22px);
			border-bottom: 1px solid #4d4d4d;
			padding-bottom: pxem(5px, 22px);
		}
		.list-3 {
			padding-left: 0;
		}
		@include breakpoint(medium) {
			padding: 0 pxem(40px) pxem(60px);
			@include grid-row();

			.head-block, .head-block.full {
				text-align: left;
				background: transparent;
				border-bottom: 1px solid #4d4d4d;
				padding-bottom: pxem(5px, 24px);

				.arw {
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
			}
		}
	}



// Page Modules: 3 or 4 Col Project List ===========================================================
	.project-list {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		.head-item {
			margin-bottom: 0;
			padding: 0 pxem(5px, 16.25px);
		}
		.sub-item {
			padding: 0 pxem(5px, 13.5px);
		}
		li {
			margin-bottom: pxem(20px);
			background-color: tint(#e5e5e5, 30%);
			padding-bottom: pxem(10px);
		}
		img {
			margin-bottom: pxem(10px);
			width: 100%;
		}
		@include breakpoint(xsmall) {
			text-align: left;
			@include block-grid(2, 10px);
			padding-left: pxem(10px);
			padding-right: pxem(10px);

			.head-item, .sub-item { padding: 0; }

			li {
				background-color: transparent;
				padding-left: pxem(3px);
				padding-right: pxem(3px);

				a img {
					transition: .1s cubic-bezier(.25, .54, .86, .98);
				}
				a:hover img {
					transform: translate3d(0, 0, 0) scale(1.02);
				}
			}
		}
		@include breakpoint(small) {
			@include block-grid(3, 10px);
			padding-left: pxem(10px);
			padding-right: pxem(10px);
		}
		@include breakpoint(xmedium) {
			@include block-grid(4, 10px);
			padding-left: pxem(10px);
			padding-right: pxem(10px);
			padding-top: pxem(42px);

			li { margin-bottom: pxem(15px); }
		}

		a.sub-item:hover { color: tint($grey-a, 20%); }
	}
	.projects {
		text-align: center;
		padding-left: pxem(20px);
		padding-right: pxem(20px);

		@include breakpoint(small) {
			@include grid-row();
		}
		@include breakpoint(medium) {
			padding-left: pxem(40px);
			padding-right: pxem(40px);
		}
	}
	.more-projects {
		padding-bottom: pxem(82px);

		@extend .lrg-only;

		.project-list {
			@include breakpoint(medium) {
				@include block-grid(4);
				padding-left: pxem(10px);
				padding-right: pxem(10px);
				padding-top: pxem(42px);
				li {
					margin-bottom: pxem(15px);
					padding-left: pxem(3px);
					padding-right: pxem(3px);
				}
			}
		}
	}



// Page Modules: Project Header ====================================================================
	.hero-wrap { @extend .lrg-only; }
	.project-header {
		.title-wrap {
			border-bottom: 1px solid #000;
			border-top: 1px solid #000;
			padding-bottom: pxem(13px);
			padding-top: pxem(8px);
			z-index: 100;
			background: #fff;
			transition: padding .1s linear;
			.eye {
				width: 25px;
				height: 25px;
				font-size: pxem(25px);
				position: absolute;
				left: 10px;
				visibility: hidden;
			}
			.nav-projects {
				visibility: hidden;
				width: 85px;
				position: absolute;
				right: 20px;
				top: 2px;
				text-align: right;
				a {
					font-family: 'arw';
					font-size: pxem(20px);
					display: inline-block;
					margin-left: pxem(8px, 20px);
				}
			}
			.inner {
				@include grid-row();
				position: relative;
				padding: 0 pxem(20px) 0 pxem(20px);
				overflow: hidden;
			}
			@include breakpoint(medium) {
				.inner {
					padding: 0 pxem(80px) 0 pxem(45px);
				}
				padding-bottom: pxem(13px);
				padding-top: pxem(20px);
				text-align: center;
				&.stuck {
					border-top: none;
					width: 100%;
					position: fixed;
					top: 0;
					padding-bottom: pxem(4px);
					padding-top: pxem(4px);
					.eye, .nav-projects {
						visibility: visible;
					}
					.project-title {
						font-size: pxem(24px);
						letter-spacing: pxem(1.65px, 24px);
						padding-right: pxem(5px, 24px);
					}
					.client {
						font-size: pxem(16px);
						top: -4px;
						padding-left: pxem(5px, 16px);
						margin-top: pxem(4px, 16px);
					}
				}
			}
		}
		.project-title {
			font-size: pxem(26px);
			text-align: center;
		}
		.client {
			font-size: pxem(16px);
			display: block;
			text-align: center;
		}
		@include breakpoint(medium) {
			@include outer-wrap();
			.title {
				display: inline-block;
			}
			.project-title {
				font-size: pxem(36px);
				padding-right: pxem(10px, 36px);
				letter-spacing: pxem(1.75px, 36px);
				display: inline-block;
			}
			.client {
				font-size: pxem(18px);
				padding-left: pxem(10px, 18px);
				display: inline-block;
				position: relative;
				top: -6px;
			}
			a.client:hover {
				text-decoration: underline;
			}
		}
	}



// Page Modules: Project Info Layout ===============================================================
	.project-info-outer {
		padding-top: pxem(30px);
	}
	.project-info {
		padding: 0 pxem(20px) pxem(44px);

		.caption {
			margin: pxem(14px, 14px) 0 pxem(16px, 14px);
		}
		.project-img {
			border-bottom: 1px solid #000;
			padding-bottom: pxem(24px);
			&:first-of-type {
				.caption {
					margin-top: 0;
				}
			}
			&.flush-btm {
				padding-bottom: 0;
			}
			&:last-child {
				border-bottom: none;
			}
		}
		&.per-client {
			.project-img {
				border-bottom: 0;
			}
			.project-detail {
				border-bottom: 1px solid #000;
				padding-bottom: pxem(34px);
				padding-top: pxem(8px);
			}
			&.last {
				.project-detail {
					border-bottom: 0;
				}
			}
		}
		@include breakpoint(medium) {
			padding-left: 0;
			padding-right: 0;
			@include grid-row();
			padding-bottom: pxem(28px);
			z-index: 40;
			.imgs {
				@include grid-column(9);
				border-right: 1px solid #000;
				padding-right: pxem(29px);
			}
			.caption {
				margin-bottom: pxem(26px, 14px);
			}
			.project-img {
				padding-bottom: pxem(60px);
				&:first-of-type {
					.caption {
						margin-top: pxem(3px, 14px);
					}
				}
				&.flush-top {
					img {
						margin-top: pxem(-57px);
						position: relative;
						z-index: 30;
					}
					.caption {
						position: relative;
						z-index: 40;
					}
				}
			}
			&.per-client {
				padding-bottom: pxem(32px);
				margin-bottom: pxem(32px);
				border-bottom: 1px solid #000;
				.caption {
					margin-bottom: pxem(18px, 14px);
				}
				.imgs {
					border-right: none;
				}
				.project-detail {
					border-bottom: none;
					padding-bottom: 0;
					padding-top: pxem(30px);
				}
				&.last {
					margin-bottom: pxem(86px);
					border-bottom: none;
					.project-img {
						margin-bottom: 0;
						padding-bottom: 0;
						border-bottom: 0;
					}
				}
			}
		}
	}



// Page Modules: Project Detail ====================================================================
	.head-client-more {
		font-family: $prox;
		font-size: pxem(18px);
		margin-bottom: pxem(17px, 18px);
		line-height: 1.1;
	}
	.project-detail {
		padding: pxem(30px) 0 0;
		.desc {
			font-size: pxem(18px);
			line-height: 1.5;
			margin-bottom: pxem(42px, 18px);
		}
		.what-we-did {
			ul {
				list-style: none;
				margin: 0;
				padding: pxem(5px) 0 0 0;
				font-family: $prox;
				font-weight: 700;
				margin-bottom: pxem(30px);
			}
			li {
				font-size: pxem(17px);
				margin: pxem(18px, 17px) 0;
			}
		}
		.button-view-site {
			margin-bottom: pxem(27px, 34px);
		}
		hr {
			border-color: #000;
		}
		.client-more {
			padding-top: pxem(12px);
			.head-client-more {
				font-family: $prox;
				margin-bottom: pxem(17px, 18px);
				line-height: 1.1;
			}
		}
		@include breakpoint(medium) {
			@include grid-column(3);
			padding: 0 pxem(20px) 0;
			.desc {
				font-size: pxem(16px);
				margin-bottom: pxem(54px, 14px);
			}
			.what-we-did {
				margin-bottom: pxem(53px);
				ul {
					padding: 0;
				}
				li {
					font-size: pxem(16px);
					margin: pxem(16px) 0;
				}
			}
			.button-view-site {
				margin-bottom: pxem(50px, 34px);
			}
			.client-more {
				padding-top: 0;

				.head-client-more {
					margin-bottom: pxem(16px, 18px);
				}
			}
		}
	}



// Page Modules: Client Header =====================================================================
	.client-header {
		border-bottom: 1px solid #000;
		border-top: 1px solid #000;
		padding: pxem(32px) pxem(20px) pxem(25px);
		z-index: 100;
		background: #fff;
		margin-bottom: pxem(32px);
		.img {
			margin-bottom: pxem(32px);
		}
		.desc {
			font-size: pxem(18px);
			.button-block {
				font-size: pxem(14.875px, 18px);
			}
		}
		@include breakpoint(medium) {
			@include outer-wrap();
			padding-left: 0;
			padding-right: 0;
			margin-bottom: pxem(116px);
			.inner {
				@include grid-row();
			}
			.img {
				@include grid-column(3);
			}
			.detail {
				@include grid-column(8, $push: 1);
			}
			.desc {
				font-size: pxem(20px);
				.button-block {
					font-size: pxem(14.875px, 20px);
				}
			}
		}
	}



// Page Modules: Team Navigation ===================================================================
	.team-intro {
		text-align: center;
		@extend .lrg-only-820;
		@include outer-wrap();
	}
	.team-nav {
		ul {
			list-style: none;
			margin: 0;
			padding: 0 0 pxem(78px) 0;
			li {
				text-align: center;
				display: inline-block;
			}
		}
		a:hover { color: $coral; }
		a {
			font-family: $prox;
			font-weight: 700;
			font-size: pxem(15.76px);
			display: block;
			transition: color .1s linear;
			img {
				margin-bottom: pxem(17px, 15.76px);
				position: relative;
				display: block;
				z-index: 50;
			}
			&:after {
				content: '';
				display: block;
				width: 55px;
				height: 4px;
				margin: 0 auto;
				background: rgba(229, 229, 229, .9);
				position: relative;
				top: -45px;
				opacity: 0;
				z-index: 40;
				border-radius: 80%;
				box-shadow: 0 0 8px 5px rgba(229, 229, 229, .9);
			}
			&:hover {
				img { animation: floating 3s ease-out; }
				&:after { animation: fadeShadow 3s ease-out; }
			}
		}
	}



// Page Modules: Team List =========================================================================
	.team {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.team-member {
		background: image-url('bg-grain.png') repeat;
		background-size: 238px 238px;
		&:nth-child(3n+2) {
			background-color: #83b459;
			.detail {
				background-color: #83b459;
			}
		}
		&:nth-child(3n+3) {
			background-color: #249d8c;
			.detail {
				background-color: #249d8c;
			}
		}
		&:nth-child(3n+1) {
			background-color: #cd4129;
			.detail {
				background-color: #cd4129;
			}
		}
		.team-member-inner {
			padding-top: pxem(213px);
			background-size: 202px auto;
			background-position: center 11px;
			background-repeat: no-repeat;
		}
		.detail {
			background: image-url('bg-grain.png') repeat;
			padding: 0 pxem(20px) pxem(25px);
		}
		.bio {
			font-size: pxem(16px);
			line-height: 1.5;
		}
		.tel,
		.email {
			text-transform: uppercase;
			font-family: $prox;
			font-weight: 700;
			font-size: pxem(14.74px);
			display: block;
			margin-bottom: pxem(8px, 14.74px);
			letter-spacing: 1px;
		}
		.bio-quote {
			font-family: $meta;
			font-size: pxem(19.5px);
			font-style: italic;
			margin: pxem(10px) 0 0 0;
			padding: 0;
			line-height: 1.35;
		}
		@media only screen and (min-width: 500px) {
			.team-member-inner {
				padding-top: pxem(400px);
				background-size: 400px auto;
			}
		}
		@include breakpoint(medium) {
			.team-member-inner {
				@include grid-row();
				padding-top: pxem(82px);
				padding-bottom: pxem(82px);
				background-size: 400px auto;
				background-position: left 25px;
			}
			.detail {
				padding-left: pxem(440px);
				padding-right: pxem(20px);
				background: none !important;
			}
			.tel,
			.email {
				font-size: pxem(16.51px);
				margin-right: pxem(20px, 16.51px);
				display: inline-block;
			}
			.bio-quote {
				font-size: pxem(30px);
				padding: 0 pxem(20px, 30px) 0 0;
				margin: pxem(40px, 30px) 0 0 0;
			}
			&:nth-child(2n+2) {
				.team-member-inner {
					background-position: right 25px;
				}
				.detail {
					padding-right: pxem(440px);
					padding-left: pxem(20px);
				}
			}
		}
		@include breakpoint(large) {
			.team-member-inner {
				background-size: auto;
			}
			.detail {
				padding-left: pxem(650px);
				padding-right: pxem(90px);
			}
			&:nth-child(2n+2) {
				.detail {
					padding-right: pxem(650px);
					padding-left: pxem(90px);
				}
			}
		}
	}



// Page Modules: Contact Form ======================================================================
	.work-with-us {
		padding-top: pxem(50px);
		.head-srf {
			font-size: pxem(24px);
		}
		@include breakpoint(medium) {
			@include grid-row();
			.head-srf {
				font-size: pxem(44px);
			}
		}
	}
	.contact-form {
		padding: pxem(25px) pxem(20px) pxem(70px);
		label {
			display: block;
			font-family: $prox;
			font-weight: 700;
			font-size: pxem(15px);
			letter-spacing: pxem(1px, 15px);
			margin-bottom: pxem(4px, 15px);
		}
		input,
		textarea,
		select {
			font-family: $prox;
			padding: pxem(4px);
			border: 1px solid #1a1919;
			width: 100%;
		}
		input,
		textarea {
			margin-bottom: pxem(20px, 20px);
			font-size: pxem(20px);
		}
		select {
			height: pxem(30px);
			border-radius: 6px;
			background: #fff;
			font-size: pxem(16px);
			margin-bottom: pxem(18px);
			max-width: pxem(375px);
		}
		.input-col {
			float: left;
			padding-right: pxem(10px);
			&:last-child {
				padding-right: 0;
			}
		}
		.input-col-half {
			width: 50%;
		}
		.input-col-third {
			width: 33%;
		}
		fieldset {
			width: 100%;
			margin-bottom: pxem(40px);
			padding-bottom: pxem(30px);
			border-bottom: 1px solid rgba(0, 0, 0, .5);
			&:last-of-type {
				border-bottom: none;
				margin-bottom: 0;
			}
			h2 {
				font-size: pxem(18px);
				font-weight: bold;
				margin-bottom: pxem(20px, 18px);
				line-height: 1.4;
			}
		}
		.submit-holder {
			text-align: center;
		}
		.button-submit {
			font-size: pxem(16px, 14px);
		}
		@include breakpoint(medium) {
			@include grid-column(6, $center: true);
			padding: pxem(40px) pxem(43px) pxem(70px);
			border: none;
			fieldset {
				h2 {
					font-size: pxem(22px);
					margin-bottom: pxem(20px, 22px);
				}
			}
			.submit-holder {
				text-align: left;
			}
		}
	}
	.page-template-page-contact-php {
		.start-project {
			display: none;
			opacity: .3;
		}
		@include breakpoint(medium) {
			.start-project {
				display: block;
			}
		}
	}


// Page Modules: Post Password Form ================================================================
	.post-password-form {
		font-size: pxem(14px);
		font-family: $prox;
		label {
			font-weight: 600;
			text-transform: uppercase;
			display: block;
		}
		input[type='password'] {
			height: pxem(40px);
			margin-bottom: pxem(10px);
			width: 100%;
			display: block;
		}
		input[type='submit'] {
			@extend .button-block;
			display: block;
		}
		@include breakpoint(small) {
			label {
				display: inline-block;
			}
			input[type='password'] {
				width: auto;
				display: inline-block;
			}
			input[type='submit'] {
				margin-left: pxem(15px);
				display: inline-block;
			}
		}
	}



// Blog ============================================================================================
	.blog-outer {
		background: $grey-b;
	}
	.post-detail {
		padding: pxem(25px) 0 0;
		.inner {
			padding-left: pxem(22px);
			padding-right: pxem(22px);
		}
		&.landing {
			padding-top: 0;
		}
		@include breakpoint(small) {
			&.landing {
				text-align: center;
				.post-content {
					text-align: left;
				}
			}
		}
		@include breakpoint(medium) {
			padding: pxem(55px) 0 0;
			@include grid-row();
			.inner {
				width: 83.33333%;
				padding-left: .625em;
				padding-right: .625em;
				margin-left: auto;
				margin-right: auto;
			}
			&.landing {
				padding-top: 0;
			}
		}
		@include breakpoint(xxlarge) {
			.inner {
				@include grid-column(7.5, $push: 2.25);
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	.post-content {
		font-size: pxem(17px);
		line-height: 1.4;
		color: #2e2e2e;
		padding-bottom: pxem(60px, 17px);
		img {
			padding: 0 0 pxem(22px, 17px);
			&.aligncenter {
				display: block;
			}
		}
		blockquote {
			color: $coral;
			font-family: $prox;
			font-weight: 600;
			border-left: 6px solid $coral;
			padding-left: pxem(16px, 17px);
			text-indent: -0.7em;
			margin-left: 0;
			margin-right: 0;
			p {
				margin-bottom: pxem(10px, 17px);
			}
			strong {
				display: block;
				font-size: pxem(16px, 17px);
				font-weight: 700;
				text-transform: uppercase;
				text-indent: 1em;
			}
		}

		h1, h2, h3, h4, h5, h6 { margin-bottom: .15em; }
		ul {
			list-style: none;
			padding-left: 1.2em;
			li:before {
				content: "";
				border-color: transparent $coral;
				border-style: solid;
				border-width: 0.29em 0 0.29em 0.39em;
				display: block;
				height: 0;
				width: 0;
				left: -1em;
				top: 0.8em;
				position: relative;
			}
		}

		.landing & {
			padding-bottom: pxem(10px);
		}

		@include breakpoint(small) {
			font-size: pxem(20px);
			padding-bottom: pxem(40px, 20px);
			img {
				padding: 0 pxem(22px, 20px) pxem(22px, 20px);
				margin: 0 auto pxem(5px, 20px) auto;

				&.alignleft {
					float: left;
					padding-left: 0;
				}
				&.alignright {
					float: right;
					padding-right: 0;
				}
			}
			blockquote {
				padding-left: pxem(38px, 20px);
				p {
					margin-bottom: pxem(10px, 20px);
				}
				strong {
					font-size: pxem(16px, 20px);
				}
			}
			.landing & { padding-bottom: 0; }
		}
		@include breakpoint(xxlarge) {
			img {
				&.alignleft {
					margin-left: pxem(-184px, 20px);
				}
			}
		}
	}

	.read-more {
		padding-top: pxem(20px);
		padding-bottom: pxem(20px);
		@include breakpoint(medium) {
			padding-bottom: pxem(40px);
		}
	}

	.post-featured-img {
		img {
			width: 100%;
		}
	}

	.post-head-landing {
		padding-left: pxem(22px);
		padding-right: pxem(22px);
		img {
			margin-bottom: pxem(15px);
		}
		@include breakpoint(medium) {
			@include grid-column(12, $center: true);
			img {
				margin-bottom: pxem(30px);
			}
			h1 {
				padding-left: pxem(5px);
				padding-right: pxem(5px);
			}
		}
	}

	.author-img {
		margin-bottom: pxem(15px, 12px);
		img {
			border-radius: 55px;
			max-width: pxem(110px, 12px);
		}
		&.sm {
			img {
				max-width: none;
				width: pxem(40px);
			}
		}
	}

	.post-author,
	.post-author-sm {
		font-family: $prox;
		font-size: pxem(12px);
		color: #b3b3b3;
		text-transform: uppercase;
		font-weight: 600;
		text-align: center;
		margin-bottom: pxem(8px, 12px);
		display: block;
	}

	.post-author {
		padding-top: pxem(18px, 12px);

		@include breakpoint(medium) {
			width: 83.33333%;
			padding-left: .625em;
			padding-right: .625em;
			margin-left: auto;
			margin-right: auto;
		}

		@include breakpoint(xxlarge) {
			@include grid-column(2.25, $push: 2.25);
			margin-left: 0;
			margin-right: 0;
			padding-top: pxem(12px, 12px);
		}
	}
	.post-author-sm {
		margin-bottom: pxem(60px);
		clear: both;

		.author-img, .author-name {
			display: inline-block;
		}
	}
	.author-name {
		display: block;
		font-weight: 800;
		font-size: pxem(14px, 12px);

		.tease & { display: inline block; }
	}
	.post-date {
		font-family: $prox;
		font-size: pxem(12px);
		font-weight: 600;
		text-transform: uppercase;
		color: #b3b3b3;
		text-align: center;
		clear: both;
		padding-bottom: pxem(40px, 12px);

		b { color: #4b4b4b; }
	}
	.more-posts {
		.inner {
			padding-left: pxem(22px);
			padding-right: pxem(22px);
		}

		&.paged { padding-top: pxem(40px); }

		@include breakpoint(medium) {
			@include grid-row();
			.inner {
				width: 93%;
				padding-left: 0;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
			}

			&.paged {
				padding-top: pxem(60px);
			}
		}
	}
	.list-posts {
		@include breakpoint(medium) {
			@include grid-column(9.5, $center: true);
		}
	}
	.post-tease {
		padding: pxem(30px) 0;
		border-bottom: 1px solid $grey-e;
		@include grid-row($behavior: nest);

		.img { @include grid-column(3); }
		.detail { @include grid-column(9); }

		@include breakpoint(medium) {
			@include grid-row($behavior: nest);

			.img { @include grid-column(2); }
			.detail { @include grid-column(10); }
		}
		&:last-child {
			margin-bottom: pxem(30px);
			border-bottom: none;
		}
	}

	.tease-author {
		font-family: $prox;
		font-size: pxem(12px);
		color: #b3b3b3;
		text-transform: uppercase;
		font-weight: 600;
		display: block;

		.author-name { display: inline-block; }
	}

	.pagination {
		font-family: $prox;
		font-weight: 800;
		font-size: pxem(14px);
		text-transform: uppercase;
		text-align: center;
		padding: pxem(50px) 0;

		a {
			color: #494949;
			letter-spacing: pxem(1px);
		}

		.next-posts,
		.prev-posts {
			display: inline-block;
			margin: 0 10px;
		}
	}



// 404 =============================================================================================
	.error404 {
		.wrap {
			padding: pxem(20px) pxem(20px) pxem(50px);
			border-bottom: 1px solid #000;
		}

		@include breakpoint(medium) {
			.wrap {
				@include grid-row();
				padding-top: pxem(20px);
				padding-bottom: pxem(50px);
				padding: pxem(20px) pxem(45px) pxem(50px);
				border-bottom: none;
			}
		}
	}



// Animations ======================================================================================
	@keyframes floating {
		0% { transform: translateY(0%); }
		50% { transform: translateY(-18%); }
		100% { transform: translateY(0%); }
	}

	@keyframes fadeShadow {
		0% { opacity: 0; }
		2% { opacity: 1; }
		90% { opacity: 1; }
		95% { opacity: 0; }
		100% { opacity: 0; }
	}



// Media Element Overrides =========================================================================
	.mejs-container {
		width: 100% !important;
		height: auto !important;
		padding-top: 56.25%;
	}

	.mejs-overlay,
	.mejs-poster {
		width: 100% !important;
		height: 100% !important;
	}

	.mejs-mediaelement video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100% !important;
		height: 100% !important;
	}

	.what-we-do-top {
		position: relative;
		.mejs-container {
			padding-top: 0;
			.mejs-overlay-button, .mejs-controls, .mejs-overlay-loading {
				visibility: hidden !important;
			}
		}
		.mejs-mediaelement video {
			z-index: 50;
			display: none;
		}
		@include breakpoint(small) {
			.mejs-mediaelement video {
				display: block;
			}
			.mejs-container {
				padding-top: 31.236442516269%;
			}
		}
	}
	.what-we-do-overlay {
		background: image-url('what-we-do-bg-sm.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
		color: #fff;
		text-align: center;

		.inner {
			padding: pxem(100px) pxem(20px);
			height: pxem(276px);
		}

		@include breakpoint(small) {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 100;
			background: rgba(0, 0, 0, .2) image-url('cam-overlay.png') repeat;
			background-size: 100px 100px;

			.inner {
				@include grid-row();
				padding-top: 9.5%;
				height: auto;
				transition: .1s linear;
				position: relative;
			}

			&.default {
				.inner:after {
					content: '';
					display: block;
					width: pxem(25px);
					height: pxem(25px);
					border-radius: 30px;
					margin: pxem(-10px) auto 0 auto;
					padding: pxem(15px);
					background: rgba(0, 0, 0, .2) image-url('icn-play.png') no-repeat center center;
					background-size: pxem(25px) pxem(25px);
				}
			}
		}
	}
	.head-what-we-do {
		font-size: 1em;
		font-weight: normal;

		.line-1 {
			font-family: $prox;
			margin: 0 0 pxem(5px, 30px);
			font-size: pxem(30px);
			line-height: 1.2;
			font-weight: 700;
		}

		.line-2 {
			font-family: $hernandez;
			font-size: pxem(90px);
			line-height: 1;
		}
	}



// Helper classes ==================================================================================
	.ir {
		background-color: transparent;
		border: 0;
		overflow: hidden;
		*text-indent: -9999px;
	}
	.ir:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}
	.hidden {
		display: none !important;
		visibility: hidden;
	}
	.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.visuallyhidden.focusable:active,
	.visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}

	.invisible {
		visibility: hidden;
	}

	.visuallyshown {
		position: static !important;
		clip: auto !important;
		overflow: auto !important;
	}

	.group:before,
	.group:after {
		content: "";
		display: table;
	}

	.group:after {
		clear: both;
	}

	.group {
		*zoom: 1;
	}



// =================================================================================================
// =================================================================================================
// =================================================================================================
// New Projects page CSS ===========================================================================
	.single-project {
		font-family: proxima-nova, sans-serif;
	}

	.container, .wrapper {
		position: relative;
		padding: pxem(20px);
		max-width: 75em;
		margin: 0 auto;
	}
	.wrapper {
		padding: 0 pxem(20px);
	}

	@include breakpoint(medium) {
		.container, .wrapper {
			padding: pxem(18px) pxem(40px);
		}
		.wrapper {
			padding: 0 pxem(40px);
		}
	}



// Project title ===================================================================================
	.project-title {
		.head-featured {
			font-weight: normal;
			margin: .15em 0;
			line-height: 1;
		}
		.client-name {
			line-height: 1.4;
		}

		.small, .medium, .large {
			padding: pxem(30px) pxem(20px);

			.head-featured { font-size: 46.184px; }
			.client-name { font-size: 16px; }
		}

		@include breakpoint(medium) {
			.large {
				padding: pxem(80px) 2.5em;

				.head-featured { font-size: 105px; }
				.client-name { font-size: 22.781px; }
			}
			.medium {
				padding: pxem(50px) 2.5em;

				.head-featured { font-size: 83.225px; }
				.client-name { font-size: 18px; }
			}
			.small {
				padding: pxem(30px) 2.5em;

				.head-featured { font-size: 46.184px; }
				.client-name { font-size: 16px; }
			}
		}
	}


.flickity-enabled {
  position: relative;

	&:focus { outline: none; }
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;

  img {
  	height: 100%;
  	width: auto;
  }
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}


.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: .3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #FFF;
  border-radius: 50%;
  opacity: .5;
  cursor: pointer;

  &.is-selected {
	  opacity: 1;
	}
}


// Vimeo video embed =================================================================
	.vimeo-video {
		// background: #000;
	}



// Text field ========================================================================
	.text {
		font-size: 80%;

		@include breakpoint(medium) {
			font-size: 100%;
		}

		.alignleft {
			float: left;
			margin-right: .5em;
		}
		.aligncenter {
			display: block;
			margin: .5em 0;
		}
		.alignright {
			float: right;
			margin-left: .5em;
		}

		h2 {
			margin-bottom: .5em;
			font-family: "league-gothic", sans-serif;
			font-weight: normal;

			&.x-small { font-size: 14px; }
			&.small { font-size: 16px; }
			&.medium { font-size: 25.629px; }
			&.large { font-size: 36.491px; }
			&.x-large { font-size: 51.957px; }

			@include breakpoint(medium) {
				&.x-small { font-size: 16px; }
				&.small { font-size: 25.629px; }
				&.medium { font-size: 36.491px; }
				&.large { font-size: 51.957px; }
				&.x-large { font-size: 83.225px; }
			}
		}
		p {
			font-family: Georgia, serif;

			&:last-child { margin-bottom: 0; }

			&.x-small { font-size: 9.989px; }
			&.small { font-size: 11.237px; }
			&.medium { font-size: 16px; }
			&.large { font-size: 18px; }
			&.x-large { font-size: 22.781px; }

			@include breakpoint(medium) {
				&.x-small { font-size: 9.989px; }
				&.small { font-size: 11.237px; }
				&.medium { font-size: 16px; }
				&.large { font-size: 22.781px; }
				&.x-large { font-size: 32.437px; }
			}
		}

		.half-column, .thirds-column {
			overflow: hidden;

			div {
				float: left;
				min-height: 50px;

				&.left { padding-right: 1em; }
				&.right { padding-left: 1em; }
			}
		}

		.half-column div {
			width: 50%;
		}

		.thirds-column div {
			&.one-third { width: 34%; }
			&.two-thirds { width: 66%; }
		}

		.section-label {
			display: block;
			margin-bottom: 1em;

			&.top-left { text-align: left; }
			&.top-center { text-align: center; }
			&.top-right { text-align: right; margin-bottom: .5em; }
		}
	}

	.one-column, .half-column, .thirds-column {
		h1, h2, h3, h4, h5, h6 {
			font-family: "league-gothic", sans-serif;
			font-weight: 400;
		}
	}


// Image(s) ==========================================================================
	.images-gallery {
		.container, .full-width { overflow: hidden; }

		.single {
			display: block;
			max-width: 100%;
			margin: 0 auto;

			.caption {
				margin-top: 1em;
			}
		}

		.double {
			position: relative;
			background-size: cover;

			@include breakpoint(medium) {
				width: 50%;
				float: left;
			}

			.spacer {
				width: 100%;
			}

			.caption {
				position: absolute;
				width: 100%;
				padding: 1em;
				left: 0;
				text-shadow: 0 1px 2px rgba(black, .25);

				@include breakpoint(medium) {
					padding: 2em;
				}

				&.top-left { top: 0; left: 0; text-align: left; }
				&.top-center { top: 0; left: 0; text-align: center; }
				&.top-right { top: 0; left: 0; text-align: right; }
				&.bottom-left { bottom: 0; left: 0; text-align: left; }
				&.bottom-center { bottom: 0; left: 0; text-align: center; }
				&.bottom-right { bottom: 0; left: 0; text-align: right; }
			}
		}
	}


// Image with text ===================================================================
	.image-with-text {
		.container, .full-width {
				position: relative;
		}

		h2 { font-family: "league-gothic", sans-serif; margin: 0; font-weight: 400; }
		p { margin-top: 1em; margin-bottom: 0; white-space: pre-line; }

		.image-box {
			img {
				max-width: 100%;
			}
		}

		.full-width .text-box { padding: 1.25em; }

		.text-box {
			&.x-small { font-size: 14px; }
			&.small { font-size: 16px; }
			&.medium { font-size: 25.629px; }
			&.large { font-size: 36.491px; }
			&.x-large { font-size: 51.957px; }

			@include breakpoint(medium) {
				&.x-small { font-size: 16px; }
				&.small { font-size: 25.629px; }
				&.medium { font-size: 36.491px; }
				&.large { font-size: 51.957px; }
				&.x-large { font-size: 83.225px; }
			}
		}

		.section-label {
			position: absolute;
			display: block;
			width: 100%;
			margin-bottom: 1em;
			top: 1.125em;

			&.top-left { text-align: left; }
			&.top-center { text-align: center; }
			&.top-right { text-align: right; margin-bottom: .5em; }
		}

		@include breakpoint(medium) {
			.wrapper, .full-width { display: flex; }

			.image-box {
				display: flex;
				width: 50%;
				align-items: center;

				img {
					display: inline-block;
					width: 100%;
					vertical-align: top;
					margin-bottom: 0;
				}
			}
			.text-box {
				display: inline-flex;
				flex-direction: column;
				justify-content: center;
				width: 50%;
			}

			.full-width .text-box {
				width: 40%;
				margin: 0 10%;
			}

			&.image-left .wrapper .text-box {
				padding-left: 1.25em;
			}
			&.image-right .wrapper .text-box {
				padding-right: 1.25em;
			}
		}

		.author-box {
			font-family: Georgia, serif;
			line-height: 30px;
			margin-bottom: 20px;

			img {
				border-radius: 50%;
				vertical-align: top;
				vertical-align: middle;
			}
		}
	}


// Project conclusions ===============================================================
	.project-conclusions {
		h2 {
			font-family: "league-gothic", sans-serif;
			font-weight: 400;
			text-align: center;
			line-height: 2;
			letter-spacing: 3px;
		}

		.conclusion {
			border-top: 1px solid;
			padding: 30px 0;
		}

		.conclusion-headline {
			font-family: "league-gothic", sans-serif;
			font-weight: 400;
			font-size: 36px;
			text-transform: uppercase;
			margin-bottom: .5em;
		}

		.author-box {
			font-family: Georgia, serif;
			line-height: 30px;
			margin-bottom: 10px;

			@include breakpoint(medium) {
				text-align: right;
			}

			img {
				border-radius: 50%;
				vertical-align: top;
			}
		}

		@include breakpoint(medium) {
			.conclusion-author, .conclusion-body {
				display: inline-block;
				padding-right: 10px;
			}
			.conclusion-author { width: 230px; padding-right: 30px; }
			.conclusion-body {
				width: calc(100% - 230px);
				border-left: 1px solid;
				padding-left: 30px;
				vertical-align: top;
			}
		}

		.author-box img {
			margin-left: 10px;
		}
	}


// Full height ====================================================================
	.full-height {
		width: 100%;
		display: table;
		background: blue;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.full-height-content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		& > * {
			display: inline-block;
		}
	}



// project button =================================================================
	.project-button {
		padding: 10px 15px;
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;
	}




// Print styles ======================================================================
	@media print {
		* {
			background: transparent !important;
			color: #000 !important;
			box-shadow: none !important;
			text-shadow: none !important;
		}

		a, a:visited {
			text-decoration: underline;
		}

		a[href]:after { content: " (" attr(href) ")"; }
		abbr[title]:after { content: " (" attr(title) ")"; }

		.ir a:after,
		a[href^="javascript:"]:after,
		a[href^="#"]:after {
			content: "";
		}

		pre,
		blockquote {
			border: 1px solid #999;
			page-break-inside: avoid;
		}

		thead { display: table-header-group; }
		tr, img { page-break-inside: avoid; }
		img { max-width: 100% !important; }
		@page { margin: 0.5cm; }
		p, h2, h3 { orphans: 3; widows: 3; }
		h2, h3 { page-break-after: avoid; }
	}