/* Global padding fix ============================================================= */
	.acf-repeater.-row > table > tbody > tr > td, .acf-repeater.-block > table > tbody > tr > td {
		border-top: 1px solid #DDD !important;
	}

	.acf-field { padding: 15px !important; }


/* Move section button left ======================================================= */
	.acf-hl > li.acf-fr {
		float: left !important;
		font-size: larger !important;
	}


/* Text layouts =================================================================== */
	[data-name="text_full_width_section_text"],
	[data-name="text_left_half_section_text"],
	[data-name="text_right_half_section_text"],
	[data-name="text_left_two-thirds_section_text"],
	[data-name="text_right_one-third_section_text"],
	[data-name="text_right_two-thirds_section_text"],
	[data-name="text_left_one-third_section_text"] {
		border-top: 0 !important;
		padding-top: 0 !important;
	}


/* Half size box ================================================================== */
	.wp-half-size {
		width: 50%;
		float: left;
		clear: none !important;
	}
	.wp-half-size + .wp-half-size {
		width: calc(50% - 1px) !important;
		border-left: 1px solid #EFEFEF !important;
	}

	.wp-half-size select {
		max-width: 100% !important;
	}

	.wp-code input {
		max-width: 200px !important;
		font-family: monaco, monospace !important;
	}
	.wp-code textarea {
		font-family: monaco, monospace !important;
		background: #222;
		color: whitesmoke;
		padding: 10px;
		border-radius: 6px;
		tab-size: 3;
		min-height: 150px;
	}
	.wp-code textarea:focus {
		outline: 0 !important;
		background: #111;
	}


/* Two-thirds/One-third section text ============================================== */
	[data-name="text_left_two_thirds_section_text"],
	[data-name="text_right_one_third_section_text"],
	[data-name="text_right_two_thirds_section_text"],
	[data-name="text_left_one_third_section_text"] {
		float: left;
		clear: none !important;
	}
	[data-name="text_left_two_thirds_section_text"],
	[data-name="text_right_two_thirds_section_text"] { width: 66%; }
	[data-name="text_right_one_third_section_text"],
	[data-name="text_left_one_third_section_text"] { width: 34%; }


/* Shorten width of dropdown select menus ========================================= */
	.acf-input select {
		max-width: 200px;
	}


/* Make sections bigger border ==================================================== */
	.acf-repeater.-row > table > tbody > tr > td,
	.acf-repeater.-block > table > tbody > tr > td {
		border-bottom-width: 50px !important;
		border-bottom-color: #DFDFDF;
	}


/* Move buttons to left =========================================================== */
	.acf-actions li { float: left !important; }

	.css-tricks input { display: none !important; }
	.css-tricks code {
		display: inline-block;
		margin-bottom: 10px;
	}


