//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//

//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
// See the documentation at http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

//
// Font faces, stacks and sizes.
//

// First, let's create some font stacks.
$meta:     	"ff-meta-serif-web-pro",serif;
$rooney:    "rooney-web",sans-serif;
$prox:		"proxima-nova",sans-serif;
$league: 	"league-gothic",sans-serif;
$appareo:	'Appareo-MediumItalic', serif;

// Colors
$grey-a: 	#626262;
$grey-b: 	#f3f3f3;
$grey-c: 	#343031;
$grey-d: 	#e5e5e5;
$grey-e: 	#cacaca;
$grey-f: 	#6f6f6f;
$grey-g: 	#dbdbdb;
$grey-h: 	#7d7e81;
$nearBlack: #231f20;
$coral:		#ea5239;


// Make sure the charset is set appropriately
@charset "UTF-8";

//
// Partials to be shared with all .scss files.
//

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; 
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.


// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";
// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
/*"foundation/components/visibility",*/
  "foundation/components/block-grid"
/*  
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/custom-forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  "foundation/components/flex-video",  
  "foundation/components/section",
  "foundation/components/top-bar",  
  "foundation/components/orbit",
  "foundation/components/reveal",
   "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  "foundation/components/breadcrumbs",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists", 
  "foundation/components/pagination",
  "foundation/components/panels",   
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",  
  "foundation/components/tooltips",
  "foundation/components/dropdown"
*/;

@import "custom";           // Import our custom mixins last.