@import "base";
$fix-mqs: true;

@mixin grid-row($behavior: false) {

  // use @include grid-row(nest); to include a nested row
  @if $behavior == nest {
    width: auto;
    margin-#{$default-float}: -($column-gutter/2);
    margin-#{$opposite-direction}: -($column-gutter/2);
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
  }

  // use @include grid-row(collapse); to collapsed a container row margins
  @else if $behavior == collapse {
    margin: 0;
    width: $row-width;
  }

  // use @include grid-row(nest-collapse); to collapse outer margins on a nested row
  @else if $behavior == nest-collapse {
    width: auto;
    margin: 0;
    max-width: none;
  }

  // use @include grid-row; to use a container row
  @else {
    margin-#{$default-float}: auto;
    margin-#{$opposite-direction}: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: $row-width;
  }

  // Clearfix for all rows
  @include clearfix();

}

@mixin grid-row-outer() {
  margin: 0 auto;
  width: $row-outer-width;
    
  // Clearfix for all rows	
  @include clearfix();
}

/********/

.full{
	&.lrg{
		@extend .lrg-only;
	}
}

.lrg-only{
	@include breakpoint(medium){
		position: relative;
		top:0;
		left: 0;
	}
}

.lrg-only-820{
	@include breakpoint(xmedium){
		position: relative;
		top:0;
		left: 0;
	}
}

.sm-only{
	@include breakpoint(medium){
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}

.row {
	width: 75em;
}

/* ==========================================================================
   Typography: Header Styles
   ========================================================================== */

.head-featured{
	@include breakpoint(medium){
		font-size: pxem(34px);
		
		.arw{
			display: none;
		}
	}
	
	@include breakpoint(xmedium){
		font-size: pxem(30px);
	}
	
	@include breakpoint(large){
		font-size: pxem(41px);
	}
}

.head-block {
	@include breakpoint(medium){
		font-size: pxem(24px);
		
		&.full{
			padding: pxem(12px, 24px) 0;
			
			&.invert{
				background: tint($grey-h, 20%);
				color: #fff;
			}
		}
		
		&.a{
			font-size: pxem(29.62px);
		}	
		
		&.b{
			font-size: pxem(35px);
			margin-bottom: pxem(27px, 35px);
		}
		
		&.c{
			font-size: pxem(45.05px);
		}
		
		&.pad{
			padding-left: pxem(10px, 24px);
			padding-right: pxem(10px, 24px);
		}	
	}
}

.head-geo {
	
	@include breakpoint(medium){
		font-size: pxem(30px);
	}
}

.head-srf{
	
	@include breakpoint(medium){
		
		font-size: pxem(67.72px);
		
		&.a{
			font-size: pxem(44px);
		}
		
		&.b{
			font-size: pxem(60px);
		}
	}
}

.cntr-lrg{
	@include breakpoint(medium){
		text-align: center;
		padding: 0;
	}
}


.head-item{
	@include breakpoint(small){
		font-size: pxem(16px);
		
		.arw{
			font-weight: normal;
			font-size: pxem(13px, 16px);
		}
	}
	
	@include breakpoint(large){
		font-size: pxem(18px);
		
		.arw{
			font-weight: normal;
			font-size: pxem(14px, 18px);
		}
	}
}

.sub-item{
	@include breakpoint(small){
		font-size: pxem(14px);
	}
	
	@include breakpoint(large){
		font-size: pxem(16px);
	}
}

.head-bio{
	@include breakpoint(medium){
		font-size: pxem(35px);
		padding: pxem(14px, 35px) 0;
		margin-bottom: pxem(12px, 35px);
		
		.title{
			font-size: pxem(13.42px, 35px);
		}
	}
	
	@include breakpoint(xlarge){
		font-size: pxem(45px);
		padding: pxem(18px, 45px) 0;
		border-top: 4px solid rgba(0,0,0,.9);
		border-bottom: 4px solid rgba(0,0,0,.9);
		margin-bottom: pxem(12px, 45px);
		
		.title{
			font-size: pxem(13.42px, 45px);
		}
	}
	
	@include breakpoint(xxlarge){
		font-size: pxem(55px);
		padding: pxem(24px, 55px) 0;
		margin-bottom: pxem(12px, 55px);
		
		.title{
			font-size: pxem(13.42px, 55px);
		}
	}
}

.caption-full{
	@include breakpoint(medium){
		font-size: pxem(18px);
		padding: pxem(20px, 18px) pxem(20px, 18px) pxem(46px, 18px);
	}
}

/* ==========================================================================
   Typography: Buttons
   ========================================================================== */

.button-block {
	@include breakpoint(medium){
		font-size: pxem(14px);
		
		.arw{ 
			font-size: pxem(11px, 14px); 
		}
		
		&.invert{
			background: #000;
			color: #fff;
			
			&:hover{
				background: #fff;
				color: #000;	
			}
		}
	}
}

.button-more{
	@include breakpoint(medium){
		font-size: pxem(16px);
		color: #000;
		background: transparent;
		text-align: center;
		display: inline-block;
		padding: 0;
		
		.arw{ 
			font-size: pxem(11.73px, 16px); 
		}
	}
}


/* ==========================================================================
   Typography: Other Type Styles
   ========================================================================== */

.caption{
	@include breakpoint(medium){
		font-family: $prox;
		font-size: pxem(14px);
		font-weight: 700;
	}
}

.cpy-sm{
	@include breakpoint(medium){
		font-size: pxem(14px);
	}
}

.cpy-med{
	@include breakpoint(medium){
		font-size: pxem(16px);
	}
}

.cpy-lrg{
	@include breakpoint(medium){
		font-size: pxem(15px);
	}
	
	@include breakpoint(xxmedium){
		font-size: pxem(17px);
	}
	
}

.lined {
	@include breakpoint(medium){
		line-height: 1.3;
		
		.txt {
			display: inline-block;

			&:before,
			&:after{
				content: "";
				position: absolute;
				height: 7px;
				border-bottom: 1px solid $grey-e;
				border-top: 1px solid $grey-e;
				top: 40%;
				width: 600px;
			}
			
			&:before{
				right: 100%;
				margin-right: 25px;
			}
			
			&:after{
				left: 100%;
				margin-left: 25px;
			}
		}
	}  
}

/* ==========================================================================
   Page Structure: Header / Navigation
   ========================================================================== */

.logo{

	a {
		background: image-url('logo_ie.png') no-repeat;
		width: 200px;
		height: 52px;
		
		.mark{
			display: none;
		}
	}
	
	@include breakpoint(medium){
		width: pxem(250px);
		float:left;
		margin: 0;
		
		a { 
			left: 0; 
		}
	}
}

.pageHeader{
	.menu{
		@include breakpoint(medium){
			display: none;
		}
	}
	
	@include breakpoint(medium){
		@include grid-row();
		padding: pxem(18px) pxem(40px);
	}
}

.nav-holder{
	@include breakpoint(medium){
		width: pxem(434px);
		margin-right: pxem(18px);
		float: right;
	}
}

#nav{
	@include breakpoint(medium){
		max-height: pxem(250px);
	}
}

.main-navigation{
	@include breakpoint(medium){
		background: transparent;
		font-size: pxem(14px);
		padding: pxem(28px, 14px) 0 0 0;
		float: right;
		
		li{
			float: left;
			padding: 0 0 0 pxem(51px, 14px);
		}

		a{
			color: $nearBlack;
			border-bottom: none;
			padding: 0;
			
			&:hover{
				color: $coral;
			}
		}
		
	}
}

/* ==========================================================================
   Page Structure: Footer
   ========================================================================== */

.pageFooter{

	.main-navigation{
		@include breakpoint(medium){
			display: none;
		}
	}
	
	.contact-area{
		@include breakpoint(medium){
			text-align: left;
			
			.tel{
				border-bottom: none;
				display: inline;
			}
			
			.button-block{
				margin-top: pxem(10px, 14.875px);
			}
			
			.cpy-lrg{
				padding-top: pxem(6px, 15px);
			}
		}
		
		@include breakpoint(xxmedium){
			
			.button-block{
				margin-top: pxem(18px, 14.875px);
			}
			
			.cpy-lrg{
				padding-top: pxem(6px, 17px);
			}
		}
	}
	
	@include breakpoint(medium){
		@include grid-row();
		border-top: 1px solid $grey-g;
		padding: pxem(31px) pxem(43px) pxem(50px);
		
		.start-project{
			width: 27%;
			float: left;
			margin-right: 3%;
			padding-right: pxem(27px);
		}
		
		.social{
			width: 20%;
			float:left;
			margin-right: 2%;
		}
		.phone-email{
			width: 23%;
			float:left;
			margin-right: 2%;
		}
		.visit{
			width: 23%;
			float:left;
		}
	}
}

.button-start-project{
	@include breakpoint(medium){
		text-align: center;
		background: #000;
		margin-top: pxem(6px);
		border: 1px solid #000;
		padding: pxem(20px) pxem(10px);
		
		.head-block,
		.button-block{
			color: #fff;
			margin: 0 !important;
			padding: 0;
			
		}
		
		.head-block{
			font-size: pxem(20px);
		}
		
		.button-block{
			font-size: pxem(15px);
			border: none;
			.arw{
				font-size: pxem(13px, 15px);
			}
		}
		
		&:hover{
			background: #fff;
			color: #000;
			border: 1px solid tint($grey-a, 50%);
			
			.head-block{
				color: #000;
			}
			
			.button-block{
				background: #fff;
				color: #000;
			}
		}
	}
	
	@include breakpoint(xxmedium){
		padding: pxem(30px) pxem(20px);
		
		.head-block{
			font-size: pxem(24px);
		}
		
		.button-block{
			font-size: pxem(18px);
			.arw{
				font-size: pxem(15px, 18px);
			}
		}
	}	
}

.social-links{
	@include breakpoint(medium){
		margin: pxem(10px) 0 0 0;
		padding-top: 0;
		
		li{
			width: pxem(38px);
			margin-right: pxem(6px);
		}
		
		a{
			font-size: pxem(14px);
			height: pxem(38px, 14px);
			padding: pxem(10px, 14px);
			
			&.facebook{
				background-position: -108px 0;	
				background-size: 162px 54px;
			}
			&.twitter{
				background-position: -108px 0;	
				background-size: 162px 54px;
			}
		}
	}
	
	@include breakpoint(xxmedium){

		li{
			width: pxem(56px);
			margin-right: pxem(12px);
		}
		
		a{
			font-size: pxem(16px);
			height: pxem(56px, 16px);
			padding: pxem(17px, 16px);
		}
	}
}

/* ==========================================================================
   Page Modules: Featured Projects
   ========================================================================== */

.featured-projects{
	
	@include breakpoint(medium){
		@include outer-wrap();
		
		li{
			max-width: none;
		}
		
		.inner{
			background: transparent;
		}
	}
}

.featured-project{
	
	@include breakpoint(medium){
		text-align: left;
		position: relative;
		display: block;
		overflow: hidden;
		@include transition(opacity .1s cubic-bezier(.25,.54,.86,.98));
		@include grid-row-outer();
		
		img{
			position: relative;
			z-index: 50;
		}
		
		.inner{
			position: absolute;
			top:0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 60;
		}
		
		.detail{
			width: 50%;
			padding: pxem(70px) pxem(20px) 0;
			
			&.rt{
				float: right;
			}
			
			&.drk{
				color: #fff;
				
				.client{
					color: #fff;
				}
			}
		}
			
		.desc{
			font-size: pxem(16px);
		}
		
		&:hover{
			opacity: .8; 
		}
	}
	
	@include breakpoint(xmedium){
		.detail{
			padding: pxem(25px) pxem(20px) 0;
		}
	}
	
	@include breakpoint(large){
		.detail{
			padding: pxem(70px) pxem(50px) 0 pxem(10px);
		}
		
		.client{
			font-size: pxem(17px);
			margin-bottom: pxem(15px, 17px);
		}
		
		.desc{
			font-size: pxem(18px);
		}
	}
}

/* ==========================================================================
   Page Modules: Featured Clients
   ========================================================================== */

.featured-clients{
	@include breakpoint(medium){
		@include grid-row();
		padding: 0 pxem(40px) pxem(66px);
		background: transparent;
		color: #000;
		
		&.vanilla{
			padding: 0 pxem(10px) pxem(66px);
			
			.list-4{
				li{
					a{
						color: #fff;
					}		
				}
			}
		}
		
		.list-4{
			padding-left: 0;
			
			li{
				border-bottom: 1px solid #4d4d4d;
				
				a{
					color: #000;
					display: block;
					padding: 0;
					@include transition(all .125s linear);
		
					&:hover{
						border-bottom: none;
						color: $coral;
						
						.arw{
							border-bottom: none;
							text-decoration: none;
						}
					}
				}
			}
		}
		
		.button-block{
			color: #fff;
			margin: pxem(23px, 14.49px) 0;
		}
		
		.head-block{
			background: transparent;
			padding-bottom: pxem(5px, 24px);
			color: #fff;
			margin-bottom: 0;
			
			.arw{
				@extend .sm-only;
			}
		}
	}
}


.head-what-we-do{
	@include breakpoint(medium){
		@include grid-row();
		padding-top: pxem(55px);
		padding-bottom: pxem(40px);
		margin-bottom: pxem(60px);
	} 
}

/* ==========================================================================
   Page Modules: Capabilities 
   ========================================================================== */
.capabilities{
	@include breakpoint(medium){
		.inner{
			@include grid-row();
		}
		
		.head-srf{
			margin-bottom: pxem(38px, 44px);
		}
	}
}   
   
.services{
	@include breakpoint(medium){
		@include grid-column(4);
				
		&:nth-of-type(4){
			clear: both;
		}
		
	}
}

/* ==========================================================================
   Page Modules: Process 
   ========================================================================== */

.process{
	@include breakpoint(medium){
		padding: pxem(27px) 0 pxem(88px);
		
	}
}

.process-step{
	@include breakpoint(medium){
		margin-bottom: 0;
		border-bottom: none;
		@include grid-column(3);
		
		img{
			max-width: 78%;
		}
	}	
}


/* ==========================================================================
   Page Modules: 3 Col List
   ========================================================================== */

.list-4{
	.arw{
		@extend .lrg-only;
	}
	
	@include breakpoint(medium){
		font-size: pxem(16px);
		padding: pxem(20px, 16px) 0;
		
		@include grid-column(4);
			
		li{
			text-align: left;
			border-bottom: 1px solid $grey-g;
			padding: pxem(12px, 16px) 0;
		}
		
		.arw{
			display: inline;
		}
		
		a{
			display: inline;
			padding: 0;
			
			&:hover{
				border-bottom: 1px solid #000;	
				.arw{
					border-bottom: 1px solid #fff;
				}
			}
		}
	}
}

/* ==========================================================================
   Page Modules: 4 Col List
   ========================================================================== */

.list-3{
	@include breakpoint(medium){
		@include grid-column(3);
		padding: pxem(10px, 16px) pxem(10px, 16px) 0 0;
	}
}


/* ==========================================================================
   Page Modules: Client Lists
   ========================================================================== */
   
.our-clients{
	@include breakpoint(medium){
		padding-top: pxem(56px);
		margin-bottom: pxem(110px);
	}
}

/* ==========================================================================
   Page Modules: Client List Container
   ========================================================================== */

.full-client-list{
	@include breakpoint(medium){
		padding: 0 pxem(10px) pxem(60px);	
		@include grid-row();
		
		.head-block,
		.head-block.full{
			text-align: left;
			background: transparent;
			border-bottom: 1px solid #4d4d4d;
			padding-bottom: pxem(5px, 24px);
			
			.arw{
				@extend .sm-only;
			}
		}
	}
}

/* ==========================================================================
   Page Modules: 3 or 4 Col Project List
   ========================================================================== */
.project-list{
	@include breakpoint(small){
		text-align: left;
		@include block-grid(3);
		padding-left: pxem(10px);
		padding-right: pxem(10px);
		
		li{
			margin-bottom: pxem(20px);
			padding-left: pxem(3px);
			padding-right: pxem(3px);
		}
	}
	
	@include breakpoint(medium){
		@include block-grid(4);
		padding-left: pxem(10px);
		padding-right: pxem(10px);
		padding-top: pxem(42px);
		
		li{
			margin-bottom: pxem(15px);
			padding-left: pxem(3px);
			padding-right: pxem(3px);
			height: pxem(375px) !important;
			overflow: hidden;
		}
	}
}

.projects{
	@include breakpoint(small){
		@include grid-row();
	}

	@include breakpoint(medium){
		padding-left: pxem(40px);
		padding-right: pxem(40px);
	}
}

.more-projects{
	@extend .lrg-only;
}


/* ==========================================================================
   Page Modules: Project Header
   ========================================================================== */ 
.hero-wrap{
	@extend .lrg-only;
}

.project-header{
	.title-wrap{
		@include breakpoint(medium){
			padding-bottom: pxem(13px);
			padding-top: pxem(20px);
			text-align: center;
		
			&.stuck{
				border-top: none;
				width:100%;
				position: fixed;
				top: 0;
				padding-bottom: pxem(4px);
				padding-top: pxem(4px);
				
				.eye,
				.nav-projects{
					visibility: visible;
				}
				
				.project-title{
					font-size: pxem(24px);
					letter-spacing:pxem(1.65px, 24px);
					padding-right: pxem(5px, 24px);
				}
				.client{
					font-size: pxem(16px);
					top:-4px;
					padding-left: pxem(5px, 16px);
					margin-top: pxem(4px, 16px);
				}
			}
		}
	}
	
	@include breakpoint(medium){
		@include outer-wrap();
		
		.title{
			display: inline-block;
		}
		
		.project-title{
			font-size: pxem(36px);
			padding-right: pxem(10px, 36px);
			letter-spacing:pxem(1.75px, 36px);
			display: inline-block;
		}
		
		.client{
			font-size: pxem(18px);
			padding-left: pxem(10px, 18px);
			display: inline-block;
			position: relative;
			top: -6px;
		}
		
		a.client:hover{
			text-decoration: underline;
		}
	}
}

/* ==========================================================================
   Page Modules: Project Info Layout
   ========================================================================== */
.project-info{
	@include breakpoint(medium){
		padding-left: 0;
		padding-right: 0;
		@include grid-row();
		padding-bottom: pxem(28px);
		z-index: 40;
		
		.imgs{
			@include grid-column(9);
			border-right: 1px solid #000;
			padding-right: pxem(29px);
		}
		
		.caption{
			margin-bottom: pxem(26px, 14px);
		}
		
		.project-img{
			padding-bottom: pxem(60px);

			&:first-of-type{
				.caption{
					margin-top: pxem(3px, 14px);
				}
			}
			
			&.flush-top{
				img{
					margin-top: pxem(-57px);
					position: relative;
					z-index: 30;
				}
				
				.caption{
					position: relative;
					z-index: 40;
				}
			}
		}
		
		&.per-client{
			padding-bottom: pxem(32px);
			margin-bottom: pxem(32px);
			border-bottom: 1px solid #000;
			
			.caption{
				margin-bottom: pxem(18px, 14px);
			}
			
			.imgs{
				border-right: none;
			}
			
			
			.project-detail{
				border-bottom: none;
				padding-bottom: 0;
				padding-top: pxem(30px);
			}
			
			&.last{
				margin-bottom: pxem(86px);
				border-bottom: none;
				
				.project-img{
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: 0;
				}
			}
		}
	}
}

   
/* ==========================================================================
   Page Modules: Project Detail
   ========================================================================== */ 
   
.project-detail{
	@include breakpoint(medium){
		@include grid-column(3);
		padding: 0 pxem(20px) 0;
		
		.desc{
			font-size: pxem(16px);
			margin-bottom: pxem(54px, 14px);
		}
		
		.what-we-did{
			margin-bottom: pxem(53px);
			
			ul{
				padding: 0;
			}
			
			li{
				font-size: pxem(16px);
				margin: pxem(16px) 0;
			}
		}
		
		.button-view-site{
			margin-bottom: pxem(50px, 34px);
		}
		
		.client-more{
			padding-top: 0;
			
			.head-client-more{
				margin-bottom: pxem(16px, 18px);
			}
		}
	}	
}

/* ==========================================================================
   Page Modules: Client Header
   ========================================================================== */ 

.client-header{
	@include breakpoint(medium){
		@include outer-wrap();
		padding-left: 0;
		padding-right: 0;
		margin-bottom: pxem(116px);
		
		.inner{
			@include grid-row();
		}
		
		.img{
			@include grid-column(3);
		}
		
		.detail{
			@include grid-column(8, $push:1);
		}
		
		.desc{
			font-size: pxem(20px);
		}
	}
}

/* ==========================================================================
   Page Modules: Team Navigation
   ========================================================================== */ 

.team-intro{
	@extend .lrg-only;
}

/* ==========================================================================
   Page Modules: Team List
   ========================================================================== */

.team-member{

	@media only screen and (min-width: 500px) {
		.team-member-inner{
			padding-top: pxem(400px);
			background-size: 400px auto;
		}	
	}
	
	
	@include breakpoint(medium){
		.team-member-inner{
			@include grid-row();	
			padding-top: pxem(82px);
			padding-bottom: pxem(82px);
			background-size: 400px auto;
			background-position:  left 25px;
		}
		
		.detail{
			padding-left: pxem(440px);
			padding-right: pxem(20px);
			background: none !important;
		}
		
		.bio{
			font-size: pxem(16px);
		}
		
		.tel,
		.email{
			font-size: pxem(16.51px);	
			margin-right: pxem(20px, 16.51px);
			display: inline-block;
		}
		
		.bio-quote{
			font-size: pxem(30px);
			padding: 0 pxem(20px, 30px) 0 0;
			margin: pxem(40px, 30px) 0 0 0;
		}
		
		&:nth-child(2n+2){
			.team-member-inner{
				background-position: right 25px;
			}
			
			.detail{
				padding-right: pxem(440px);
				padding-left: pxem(20px);
			}
		}
	}
	
	@include breakpoint(large){
		.team-member-inner{
			background-size: auto;
		}
		
		.detail{
			padding-left: pxem(650px);
			padding-right: pxem(90px);
		}
		
		&:nth-child(2n+2){
			
			.detail{
				padding-right: pxem(650px);
				padding-left: pxem(90px);
			}
		}
		
	}
}

/* ==========================================================================
   Page Modules: Contact Form
   ========================================================================== */

.work-with-us{
	@include breakpoint(medium){
		@include grid-row();
		
		.head-srf{
			font-size: pxem(44px);
		}
	}
}

.contact-form{
	@include breakpoint(medium){
		@include grid-column(6, $center:true);
		padding: pxem(40px) pxem(43px) pxem(70px);
		border: none;
		
		fieldset{
			h2{
				font-size: pxem(22px);
				margin-bottom: pxem(20px, 22px);
			}
		}
		
		.submit-holder{
			text-align: left;
		}
	}
}


.page-template-page-contact-php{
	@include breakpoint(medium){
		.start-project{
			display: block;
		}
	}
}